<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.dao.DeptDao">
<select id="getMaxDCode" resultType="String">

		SELECT MAX(d_code) FROM
		tbl_dept

	</select>
	<select id="selectAll" resultType="Ddto">
		SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
	</select>
	<select id="findById" resultType="Ddto">
	SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
				WHERE D_CODE = #{d_code}	
	</select>
		<select id="findByName" resultType="Ddto">
	SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
				WHERE D_NAME LIKE '%' ||  #{d_name} || '%'	
	</select>
			<select id="findByCEO" resultType="Ddto">
	SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
				WHERE D_CEO LIKE '%' ||  #{d_ceo} || '%'	
	</select>
			<select id="findByNameAndCEO" resultType="Ddto">
	SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
				WHERE D_NAME LIKE '%' || #{d_name} || '%'
				 AND D_CEO LIKE '%' || #{d_ceo}	 || '%'
	</select>
	<insert id="insert" parameterType="Ddto">
			
		INSERT INTO tbl_dept (		
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
			) VALUES(
			#{d_code},
			#{d_name,jdbcType=VARCHAR},
			#{d_ceo,jdbcType=VARCHAR},
			#{d_tel,jdbcType=VARCHAR},
			#{d_addr,jdbcType=VARCHAR}
			)
	
	</insert>
	<update id="update" parameterType="Ddto">
			
			UPDATE tbl_dept SET
				D_NAME = #{d_name,jdbcType=VARCHAR},
				D_CEO = #{d_ceo,jdbcType=VARCHAR},
				D_TEL = #{d_tel,jdbcType=VARCHAR},
				D_ADDR = #{d_addr,jdbcType=VARCHAR}
			
		WHERE D_CODE = #{d_code}
	</update>
	<delete id="delete" parameterType="Ddto">
	
	DELETE FROM tbl_dept = D_CODE = #{d_code}
	
	</delete>
			<select id="findByDName" resultType="Ddto">
	SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
				WHERE D_NAME = #{d_name}
	</select>
			<select id="findByDCEO" resultType="Ddto">
	SELECT 
			D_CODE,
			D_NAME,
			D_CEO,
			D_TEL,
			D_ADDR
				FROM tbl_dept
				WHERE D_CEO	= #{d_ceo}
	</select>
</mapper>