<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.dao.IolistViewDao">
<select id="getMaxDCode" resultType="String">

		SELECT MAX(io_dcode) FROM
		view_iolist

	</select>
	<select id="selectAll" resultType="Ivo">
		SELECT 
			IO_SEQ,
			IO_DATE,
			IO_INOUT,
			IO_QTY,
			IO_PRICE,
			IO_TOTAL,
			IO_PCODE,
			IO_DCODE		
		 FROM view_iolist
	</select>
		<select id="findById" resultType="Ivo">
		SELECT 
			IO_SEQ,	IO_DATE, IO_INOUT, IO_DCODE, D_NAME,
			D_CEO, D_TEL, D_ADDR, IO_PCODE,	P_NAME,
			P_IPRICE, P_OPRICE,	P_VAT, IO_QTY, IO_PRICE,
			IO_TOTAL
			FROM view_iolist
			WHERE IO_SEQ = #{io_seq}	
	</select>
		<select id="findByDname" resultType="Ivo">
		SELECT 
			IO_SEQ,	IO_DATE, IO_INOUT, IO_DCODE, D_NAME,
			D_CEO, D_TEL, D_ADDR, IO_PCODE,	P_NAME,
			P_IPRICE, P_OPRICE,	P_VAT, IO_QTY, IO_PRICE,
			IO_TOTAL
			FROM view_iolist
		WHERE D_NAME LIKE '%' ||  #{d_name} || '%'		
		</select>
			<select id="findByDdname" resultType="Ivo">
		SELECT 
			IO_SEQ,	IO_DATE, IO_INOUT, IO_DCODE, D_NAME,
			D_CEO, D_TEL, D_ADDR, IO_PCODE,	P_NAME,
			P_IPRICE, P_OPRICE,	P_VAT, IO_QTY, IO_PRICE,
			IO_TOTAL
			FROM view_iolist
		WHERE D_NAME = #{d_name} 	
		</select>
	
	<insert id="insert" parameterType="Ivo"></insert>
	<update id="update" parameterType="Ivo"></update>
	<delete id="delete" parameterType="Ivo"></delete>
</mapper>