<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.biz.iolist.persistence.DeptDTO"
			alias="Ddto" />
		<typeAlias type="com.biz.iolist.persistence.IolistDTO"
			alias="Idto" />
		<typeAlias type="com.biz.iolist.persistence.ProductDTO"
			alias="Pdto" />
		<typeAlias type="com.biz.iolist.persistence.IolistVO"
			alias="Ivo" />
	</typeAliases>
	<environments default="develoment">
		<environment id="develoment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="iolist2" />
				<property name="password" value="iolist2" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/biz/config/mapper/iolist-mapper.xml" />
		<mapper resource="com/biz/config/mapper/product-mapper.xml" />
		<mapper resource="com/biz/config/mapper/dept-mapper.xml" />
		<mapper resource="com/biz/config/mapper/iolistview-mapper.xml" />
		
	</mappers>
</configuration>