<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.rent.dao.UserDao">


	
	<select id="selectAll" resultType="Udto">
		SELECT 
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
				FROM tbl_users
	</select>
	
			<select id="findBynametel" resultType="Udto">
	SELECT 
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
				FROM tbl_users
				WHERE U_NAME LIKE '%' || #{u_name} || '%'
				 AND U_TEL LIKE '%' || #{u_tel}	 || '%'
	</select>
	
	<select id="findById" resultType="Udto">
	SELECT 
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
				FROM tbl_users
				WHERE U_CODE = #{u_code}	
	</select>
		<select id="findByName" resultType="Udto">
	SELECT 
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
				FROM tbl_users
				WHERE U_NAME LIKE '%' ||  #{u_name} || '%'	
	</select>
			<select id="findByTel" resultType="Udto">
	SELECT 
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
				FROM tbl_users
				WHERE U_TEL LIKE '%' ||  #{u_tel} || '%'	
	</select>
			<select id="findByAddr" resultType="Udto">
	SELECT 
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
				FROM tbl_users
				WHERE U_ADDR LIKE '%' || #{u_addr} || '%'
				
	</select>
	<insert id="insert" parameterType="Udto">
			
		INSERT INTO tbl_users (		
			U_CODE,
			U_NAME,
			U_TEL,
			U_ADDR
			) VALUES(
			#{u_code},
			#{u_name,jdbcType=VARCHAR},
			#{u_tel,jdbcType=VARCHAR},
			#{u_addr,jdbcType=VARCHAR}
			)
	
	</insert>
	<update id="update" parameterType="Udto">
			
			UPDATE tbl_users SET
				
				U_NAME = #{u_name,jdbcType=VARCHAR},
				U_TEL = #{u_tel,jdbcType=VARCHAR},
				U_ADDR = #{u_addr,jdbcType=VARCHAR}
			
		WHERE U_CODE = #{u_code}
	</update>
	<delete id="delete" parameterType="Udto">
	
	DELETE FROM tbl_users WHERE U_CODE = #{u_code}
	
	</delete>
		
</mapper>